services:
  books-library-backend:
    container_name: books-library-backend
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PORT=${PORT}
        - NODE_ENV=${NODE_ENV}
        - APP_NAME=${APP_NAME}
        - DATABASE_URL=${DATABASE_URL}
        - JWT_SECRET=${JWT_SECRET}
        - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
        - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
        - S3_ACCESS_KEY_SECRET=${S3_ACCESS_KEY_SECRET}
        - S3_REGION=${S3_REGION}
        - S3_SIGNATURE_VERSION=${S3_SIGNATURE_VERSION}
        - S3_BUCKET=${S3_BUCKET}
        - S3_BASE_URL=${S3_BASE_URL}
    ports:
      - "${PORT}:${PORT}"
    image: books-library-backend:latest
    restart: unless-stopped
